html, body {
    margin: 10;
    padding: 10;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    height: 420px;
    border: 3px solid black;
}

.grid div {
    width: 15px;
    height: 15px;
    /* background-color: teal;
    border: solid white;
    box-sizing: border-box; */
}

.pac-dot {
    background-color: black;
    border: 5px solid white;
    box-sizing: border-box;
}

.wall {
    background-color: red;
}

.power-pellet {
    background-color: blue;
    border-radius: 7.5px;
}

.pac-man {
    background-color: green;
    border-radius: 7.5px;
    border: none;
}

.chinky {
    background-color: yellow;
    border: none;
}

.pinky {
    background-color: pink;
    border: none;
}

.rosy {
    background-color: blue;
    border: none;
}

.romy {
    background-color: green;
    border: none;
}

.scared-ghost {
    background-color: aquamarine;
    border: none;
}